@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito';
}
.SectionContainerTextos {
  width: 59.3rem;
  height: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5%;
}

.LogoHome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
}
.oneSubTituloHome {
  color: #fd377e;
  font-weight: 900;
}

.subTituloHome {
  color: #fff;
  margin-left: 1rem;
  font-weight: 900;
}

.tituloHome {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  width: 40rem;
  line-height: 4.8rem;
}
.paragrafoHome {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
}
.buttonHome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
  background: #fd377e;
  color: #fff;
  width: 40%;
  font-size: 2rem;
  border: 2px solid #fd377e;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1005px) {
  .tituloHome {
    font-size: 4.5rem;
    max-width: 300px;
  }
}
@media (max-width: 900px) {
  .tituloHome {
    font-size: 4rem;
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  .SectionContainerTextos {
    height: 30rem;
  }
}

@media (max-width: 635px) {
  .SectionContainerTextos {
    width: 80%;
    height: 60%;
    margin-left: 15%;
  }
  .tituloHome {
    font-size: 3.5rem;
    max-width: 200px;
  }
  .buttonHome {
    width: 40%;
  }
}
